<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${unit}">

<h1>This Week's Production Points:</h1>
<h1 th:text="${nation.totalProduction}"></h1>

<h2>Units:</h2>
<div>
    <tr>
        <td th:each="unit : ${units}"></td>
        <div class="form-group">
            <label th:for="${unit.name}">Unit</label>
            <input class="form-control" th:field="*{unit}" />
            <span th:errors="*{unit}" class="error"></span>
        </div>
    </tr>
</div>

    <h2>Total Production Points Spent:</h2>

    <input type="submit" value="Order" />
</form>
</body>
</html>