<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p>WEEK _____</p>

<form method="post" style="max-width:600px;" th:object="${nation}">
    <div class="form-group">
        <label th:for="coal">Tundra</label>
        <input class="form-control" th:field="*{territory.tundra}" />
        <span th:errors="*territory.tundra}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Subarctic</label>
        <input class="form-control" th:field="*{territory.subarctic}" />
        <span th:errors="*territory.subarctic}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Tundra</label>
        <input class="form-control" th:field="*{territory.tundra}" />
        <span th:errors="*territory.tundra}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Continental</label>
        <input class="form-control" th:field="*{territory.continental}" />
        <span th:errors="*territory.continental}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Oceanic</label>
        <input class="form-control" th:field="*{territory.oceanic}" />
        <span th:errors="*territory.oceanic}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Mediterranean</label>
        <input class="form-control" th:field="*{territory.mediterranean}" />
        <span th:errors="*territory.mediterranean}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Subtropical</label>
        <input class="form-control" th:field="*{territory.subtropical}" />
        <span th:errors="*territory.subtropical}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Jungle</label>
        <input class="form-control" th:field="*{territory.jungle}" />
        <span th:errors="*territory.jungle}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Savannah</label>
        <input class="form-control" th:field="*{territory.savannah}" />
        <span th:errors="*territory.savannah}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Steppe</label>
        <input class="form-control" th:field="*{territory.steppe}" />
        <span th:errors="*territory.steppe}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Semiarid</label>
        <input class="form-control" th:field="*{territory.semiarid}" />
        <span th:errors="*territory.semiarid}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Desert</label>
        <input class="form-control" th:field="*{territory.desert}" />
        <span th:errors="*territory.desert}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Highland</label>
        <input class="form-control" th:field="*{territory.highland}" />
        <span th:errors="*territory.highland}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Marsh</label>
        <input class="form-control" th:field="*{territory.marsh}" />
        <span th:errors="*territory.marsh}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="coal">Icecap</label>
        <input class="form-control" th:field="*{territory.icecap}" />
        <span th:errors="*territory.icecap}" class="error"></span>
    </div>

    <p>City Upgrades:</p>
    <tr th:each="city : ${cities}" >
        <td th:text="${city.name}">
            <select name="industrialTier">
                <option value="Tier 1">Tier 0</option>
                <option value="Tier 1">Tier 1</option>
                <option value="Tier 1">Tier 2</option>
                <option value="Tier 1">Tier 3</option>
                <option value="Tier 1">Tier 4</option>
            </select>
            <select name="residentialTier">
                <option value="Tier 1">Tier 0</option>
                <option value="Tier 1">Tier 1</option>
                <option value="Tier 1">Tier 2</option>
                <option value="Tier 1">Tier 3</option>
                <option value="Tier 1">Tier 4</option>
            </select>

        </td>
    </tr>

    <p>Add New City:</p>

    <form method="post" style="max-width:600px;" th:object="${city}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{city.name}" />
            <span th:errors="*{city.name}" class="error"></span>
        </div>
    </form>


    <p>New Resources:</p>

    <div class="form-group">
        <label th:for="coal">Coal</label>
        <input class="form-control" th:field="*{resource.coal}" />
        <span th:errors="*{resource.coal}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="oil">Oil</label>
        <input class="form-control" th:field="*{resource.oil}" />
        <span th:errors="*{resource.oil}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="iron">Iron</label>
        <input class="form-control" th:field="*{resource.iron}" />
        <span th:errors="*{resource.iron}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="aluminum">Aluminum</label>
        <input class="form-control" th:field="*{resource.aluminum}" />
        <span th:errors="*{resource.aluminum}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="timber">Timber</label>
        <input class="form-control" th:field="*{resource.timber}" />
        <span th:errors="*{resource.timber}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="food">Food</label>
        <input class="form-control" th:field="*{resource.food}" />
        <span th:errors="*{resource.food}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="cashCrops">Cash Crops</label>
        <input class="form-control" th:field="*{resource.cashCrops}" />
        <span th:errors="*{resource.cashCrops}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="opium">Opium</label>
        <input class="form-control" th:field="*{resource.opium}" />
        <span th:errors="*{resource.opium}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="helium">Helium</label>
        <input class="form-control" th:field="*{resource.helium}" />
        <span th:errors="*{resource.helium}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="luxuryMinerals">Luxury Minerals</label>
        <input class="form-control" th:field="*{resource.luxuryMinerals}" />
        <span th:errors="*{resource.luxuryMinerals}" class="error"></span>
    </div>

    <input type="submit" value="Update Stats" />
</form>
</body>
</html>